.avtr {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  border: 2px solid #fff; 
  box-shadow: 0 2px 4px rgba(187, 113, 113, 0.1); 
  transition: transform 0.3s ease-in-out; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.avtr:hover {
  transform: scale(1.1); 
}


.fname {
  
  padding: 20px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 40px;
  margin: 10px 0; 
  text-align: center;
}


.txt {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 5px 0; 
  text-align: center;
}


.txt strong {
  color: rgb(91, 153, 233);
  margin-right: 5px; 
}

.bottom {
  background-color: rgb(15, 68, 110);
  height: 30px; 
  width: 100%;
  color: #fff;
  font-family:monospace;
  text-align: center;
  margin-top: 300px;
  
}