/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.avatar{
  border-radius: 50%;
  width: 50px; /* Set the width to make it smaller */
  height: 50px; /* Set the height to make it smaller */
}

.usertable {
  width: 100%;
  text-align: center;
  border-collapse: collapse; /* This ensures no space between table cells */
}

.usertable, .usertable th, .usertable td {
  border: none; /* Removes borders for table, th, and td elements */
}

.usertable tbody tr:hover {
  background-color: #6bb9dd; /* Change the background color on hover for table body rows */
}

.usertable thead tr:hover {
  background-color: initial; /* Reset hover effect for table header row */
}


#heading{
  background-color: rgb(146, 178, 221);
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}